onnxruntime==1.19.2
onnxruntime-directml==1.19.2; platform_system == "Windows"
onnxruntime-gpu==1.19.2; platform_system == "Linux"
opencv_python==4.10.0.84
pillow==11.0.0
pysimplegui==4.70.1
python_osc==1.9.0
torch==2.4.1
torchvision==0.19.1
pydantic==1.10.18
pyserial==3.5
colorama==0.4.6
desktop-notifier==6.0.0
comtypes==1.4.8
pygrabber==0.2
poetry
