**/__pycache__/**
**/*.pyc
*.cfg
*.log
BabbleApp/babble_settings.json
BabbleApp/babble_settings.backup
BabbleApp/build
BabbleApp/dist
/vivetest
/training
.vscode
/testing
/old_models
/Lib
/share
/BabbleApp/Models/dev

scripts/example_build_app_and_installer.bat
scripts/example_build_app_and_installer.bat
scripts/installer.iss
Glia_cap.py
lazyass_minecraft_script.py
scripts/example_build_app_and_installer.bat
*.kdev*
*.code-workspace
