onnxruntime==1.19.2
onnxruntime-directml==1.19.2
opencv_python==4.10.0.84
pillow==10.4.0
pysimplegui==4.60.5.0
python_osc==1.9.0
torch==2.4.1
torchvision==0.19.1
pydantic==2.9.2
pyserial==3.5
colorama==0.4.6
winotify==1.1.0
pygrabber==0.2
poetry